@import '/Dashboard.scss';
@import '/Paginate.scss';
@import '/Landing.scss';
@import '/Search.scss';
@import '/sweetalert.scss';

#container {
  height: 90vh;
  clear: both;
}

.document-view {
  height: 85vh;
  padding: 20px;
  padding-top:20px;
  margin-top: 20px;
  overflow-y: scroll;
}