.search {
   border-bottom: 1px solid #838996 !important;
    color:#838996;
    input:active {
    border-bottom-color: #838996;
  }
  input::-webkit-input-placeholder {
  color: #838996;
}
}
#search {
   border-bottom: 1px solid #838996 !important;
    color:#838996;
    input:active {
    border-bottom-color: #838996;
  }
  input::-webkit-input-placeholder {
  color: #838996;
}
}

#textarea1 {
   border-bottom: 1px solid #838996 !important;
    color:#838996;
    input:active {
    border-bottom-color: #838996;
  }
  input::-webkit-input-placeholder {
  color: #838996;
}
}
